<div class="my-4 container text-center border shadow">
  <h1 class="text-center my-2"> Paginas no existe </h1>
  <p class="fs-6 my-4">redirigiendo...</p>
</div>

<script>
  setTimeout(() => { window.location.assign("/") }, 3000);
</script>