<div class="my-4 container text-center border shadow">
  <h1 class="text-center my-2 uppercase"> Error de registro </h1>
  <p class="my-2">Nombre de usuario ya existe </p>
  <p><a href="/register">Intentar otra vez..</a></p>
</div>